@font-face {
    font-family: 'Roboto-Bold';
    src: url("./Typos/Roboto-Bold.ttf");
}

.nav {
    position: relative;
    min-width: 100vh;

}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C655C9;
    position: sticky;
    top: 0;

}

.li {
    position: relative;
    display: inline-block;
;
}

.li a {
    display: block;
    color: white;
    font: 'Roboto-Bold';
    font-style: normal;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.li a:hover {
    background-color: #7C5A7D;
}

.input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: auto;
    height: 15px;
    position: static;
    cursor:auto;
    opacity: 1;
    margin: 0;
    padding: 10px 20px;
    overflow: visible;
    border: 1px solid black;
    font: 'Roboto';
    color: black;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252, 252, 252, 1);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

.button {
    float: right;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: 100px;
    height: 15px;
    position: static;
    cursor: pointer;
    opacity: 1;
    margin: 10px;
    padding: 9px 20px;
    overflow: hidden;
    border: 1px solid;
    -webkit-border-radius: 0;
    border-radius: 0;
    font: normal 16px/1 'Roboto-Bold';
    color: rgba(0, 0, 0, 1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-spacing: 2px;
    background: #ffffff;
    -webkit-box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.8);
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;

}